<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'valid/style.css'%}">
</head>

<body>
    <div id="wrapper">
        <div class="fluid-container">
            <nav class="navbar navbar-light bg-dark justify-content-between">
                <a class="navbar-brand">Quotes4u</a>
                <form class="form-inline">

                    <a class="nava" href="/myaccount/{{request.session.id}}">Edit My Account </a>
                    <a class="nava" href='/logout'> Logout</a>
                </form>
            </nav>
            <div class="container-fluid">
                <div class="container text-center">
                    <br>
                    <h1>Welcome {{user.first_name}} {{user.last_name}}!</h1>
                    <br>
                    <br>
                </div>
            </div>



            {% if messages %}
            <ul>
                {% for message in messages %}
                <li class="messages">{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="quotes">
                <div class="container-fluid">
                    <div class="container text-center">
                        <br>
                        <h4>Quotes</h4>
                        {% for quote in quotes %}
                        <div class="quote">

                            <p>{{quote.author}}: "{{quote.quote}}"</p>
                            <p>Posted by <a href="/user/{{quote.user.id}}">{{quote.user.first_name}}
                                    {{quote.user.last_name}}</a></p>
                            <p>{{quote.likes_on_quotes.all | length}} people liked this</p>
                            <button class="btn btn-primary"><a class="delete-btn" href="/like/{{quote.id}}">Like</a></button>
                            {% if quote.user.id is request.session.id %}
                            <form action="/delete-quote" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="quote-id" value="{{quote.id}}">
                                <input class="delete-button btn btn-primary" type="submit" value="Delete">
                            </form>
                            {% endif %}
                        </div>
                        {% endfor %}

                    </div>

                    <br>
                    <br>
                </div>
            </div>
            <!--End of quotes-->





            <div class="add-quote">
                <div class="container-fluid">
                    <div class="container text-center">


                        <h4>Add a Quote</h4>
                    </div>
                    <div class="container text-left quote_form">
                        <form action="/add-quote" method="post">
                            {% csrf_token %}

                            <p>Author <textarea name="author" cols="30" rows="1"></textarea></p>
                            <p>Quote <textarea name="quote" cols="30" rows="5"></textarea></p>
                    </div>
                    <div class="container text-center">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                    </form>

                </div>
            </div>
        </div>
        <!--End of add-quote-->
    </div>
    <!--End of fluid-container-->
    </div>
    <!--End of wrapper-->

</body>

</html>